<div id="wrap">
  <nav class="navbar navbar-default background-gray">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="['']">
          <img src="../assets/formula-1.svg" class="logo" />
        </a>
        <span class="navbar-brand">Formula</span>
      </div>
      <ul class="nav navbar-nav">
        <li class="active">
          <a [routerLink]="['drivers']">
            Drivers <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div id="main" class="container clear-top py-5">
    <!-- <notifier-container></notifier-container> -->
    <router-outlet></router-outlet>
  </div>

  <footer class="footer font-small background-gray py-2">
    <div class="footer-copyright text-center py-3">
      © 2019 Copyright:
      <a href="https://github.com/mageakos?tab=repositories">
        George Simantiras</a>
    </div>
  </footer>

</div>