<div *ngIf="!isLoading && driverDetails">
  <div class="row">
    <div class="col-sm-4">
      <h1>{{ driverDetails && driverDetails.givenName }}</h1>
      <app-details [entityData]="driverDetails" [mode]="'view'"> </app-details>
    </div>
    <div class="col-sm-8">
      <app-list *ngIf="listOptions.isReady && listOptions.data" [title]="listOptions.title"
        [actions]="listOptions.actions" [id]="listOptions.id" [data]="listOptions.data" [sortable]="true"
        [filterable]="false" [columns]="listOptions.columns">
      </app-list>
    </div>
  </div>
  <div class="row">
    <app-button-group class="col-sm-12" [options]="buttonOptions"></app-button-group>
  </div>
</div>
<app-loader [loading]="isLoading"></app-loader>