<div class="row" *ngIf="entityData">
  <div class="col-12">
    <div class="card p-2">
      <!-- <img class="my-avatar" alt="Avatar" src="{{ entityData.avatar }}" /> -->
      <form #entiy="ngForm">
        <div class="container my-2">
          <app-label
          *ngFor="let item of entityData | keyvalue"
            [label]="item.key"
            [(data)]="item.value"
            [mode]="mode"
            (dataUpdated)="dataChanged($event)"
            [format]="'title'"
          ></app-label>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 float-right">
    <app-button-group *ngIf="actions"></app-button-group>
  </div>
</div>
